#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
}
#no-mobile span {
  color: white;
  font-size: 40px;
}
#no-mobile__text {
  position: relative;
  padding-left: 100px;
}
#no-moblie__bar {
  background-color: white;
  width: 2px;
  height: 50px;
  position: absolute;
  right: -5px;
  bottom: 0px;
  animation: blinkCursor 1s linear infinite;
}
@keyframes blinkCursor {
  0% {
    background-color: white;
  }
  50% {
    background-color: white;
  }
  51% {
    background-color: black;
  }
  100% {
    background-color: black;
  }
}
#no-mobile i {
  position: absolute;
  right: -100px;
  bottom: -50px;
}
@media screen and (max-width: 530px) {
  #no-mobile {
    display: none;
  }
}
