#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  /* background-color: var(--yellow); */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  top: 0;
  /* font-size: 30px; */
}
#no-mobile img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 500px) {
  #no-mobile {
    display: none;
  }
}
