#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  background-color: var(--puple);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 0;
  /* font-size: 30px; */
}
#no-mobile img {
  margin-left: 60px;
  margin-right: 20px;
  width: auto;
  height: auto;
}
#no-mobile_span {
  position: relative;
  top: -50px;
  border: 3px solid white;
  padding: 25px 25px;
  border-radius: 30px;
  border-bottom-left-radius: 0;
}
#no-mobile_span span {
  color: white;
  font-size: 30px;
}
@media screen and (max-width: 530px) {
  #no-mobile {
    display: none;
  }
}
