/* Friends-bar */
.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 35px;
  opacity: 90%;
  /* position : fixed;
  width: 100%;
  box-sizing: border-box; */
}

.screen-header__title {
  font-size: 30px;
  font-weight: bold;
}

.screen-header__icon {
  display: flex;
  justify-content: flex-end;
}

.screen-header__icon span {
  margin: 15px;
}

