/* Friends-bar */
.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px var(--horizontal-space) 10px;
  /* padding-top: 35px; */
  background: #b02bf8;
  /* border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px; */
  position: sticky;
  top: 0px;
  z-index: 1;
  color: white;
  /* position: fixed;
  width: 100%;
  box-sizing: border-box; */
}
.screen-header__title {
  font-size: 30px;
  font-weight: bold;
}

.screen-header__icon {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.screen-header__icon span {
  margin: 15px;
}

.screen-header-chats {
  margin-bottom: 15px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icon span:last-child:hover {
  animation: rotateCog 2s linear infinite;
}

@keyframes scaleupIcon {
  from {
    transform: none;
  }
  to {
    transform: scale(1.3);
  }
}
.screen-header__icon span:hover {
  animation: scaleupIcon 1s linear forwards;
}
