/* Friends-bar */
.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px var(--horizontal-space) 10px;
  /* padding-top: 35px; */
  background-color: rgba(0, 255, 147, 0.8);

  position: sticky;
  top: 0px;
  z-index: 1;
  color: black;
}
.screen-header__title {
  font-size: 30px;
  font-weight: bold;
}

.screen-header__icon {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.screen-header__icon span {
  margin: 15px;
  cursor: pointer;
}

.screen-header-chats {
  margin-bottom: 15px;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icon span:last-child:hover {
  animation: rotateCog 2s linear infinite;
}

@keyframes scaleupIcon {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: none;
  }
}
.screen-header__icon span:hover {
  animation: scaleupIcon 0.8s linear infinite;
}
