.user-component {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: absolute; */
    /* margin-top: 140px; */
}
.user-component__column:first-child {
    display: flex;
    align-items: center;
}
.user-component__avatar {
    height: 60px;
    width: 60px; /* big size */
    border-radius: 40%;
    margin-right: 20px;
}
.user-component__title {
    font-size:22px;
    font-weight: 600;
}
.user-component__subtitle {
    font-size : 16px;
    margin-top: 8px;
    color: rgba(0,0,0,0.4);
}

.user-component__avatar--xl {
    width : 70px;
    height : 70px;
}

.user-component__avatar--sm {
    width: 50px;
    height: 50px;
}

.user-component__title--not-bold {
    font-weight: 400;
}

.user-component__column:last-child {
    color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component__column .badge {
    margin-top : 10px;
}