.user-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: absolute; */
  /* margin-top: 140px; */
  margin: 20px 0;
  color: black;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.user-component:hover {
  transform: scale(1.05);
}

.user-component:first-child {
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.2);
}
.user-component__column:first-child {
  display: flex;
  align-items: center;
  position: relative;
}
.user-component__avatar {
  height: 60px;
  width: 60px; /* big size */
  border-radius: 40%;
  margin-right: 20px;
}
.user-component__title {
  font-size: 22px;
  font-weight: 600;
}
.user-component__subtitle {
  font-size: 16px;
  margin-top: 8px;
  color: rgba(0, 0, 0, 0.5);
}
.user-component__title-people {
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: lighter;
}
.user-component__teams {
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 15px;
}
.user-component__avatar--xl {
  width: 70px;
  height: 70px;
}

.user-component__avatar--sm {
  width: 50px;
  height: 50px;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.user-coponent__dot {
  position: absolute;
  top: 0;
  left: -5px;
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.user-component__column:last-child {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.user-component__title-me {
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  border-radius: 50%;

  padding: 3px;
  width: 13px;
  height: 13px;
  margin-right: 5px;
}
.user-component__text {
  position: relative;
}
.user-component__column .badge {
  margin-top: 7px;
  margin-right: 15px;
}
.user-component__column span {
  color: rgba(0, 0, 0, 0.3);
  margin-right: 10px;
}
.chat-component {
  margin-bottom: 10px;
}
