@import "reset.css";
@import "variable.css";

/* Screen */
@import "screen/login.css";
@import "screen/friends.css";
@import "screen/find.css";
@import "screen/more.css";
@import "screen/setting.css";
@import "screen/chat.css";

/* Component */
@import "component/status-bar.css";
@import "component/nav-bar.css";
@import "component/screen-header.css";
@import "component/user-component.css";
@import "component/badge.css";
@import "component/icon-row.css";
@import "component/alt-screen-header.css";
@import "component/no-mobile.css";

/* font-family */
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

body {
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  height: 100%;
  color: white;
  font-family: "Cairo", sans-serif;
}
.background {
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  filter: blur(3px);
  filter: brightness(60%);
  z-index: -1;
}
.main-screen {
  padding: 0px var(--horizontal-space);
}
