#chat-screen {
  background-color: #abc1d1;
}

.chat__timestamp {
  background-color: #92a4b2;
  padding: 8px 11px;
  border-radius: 20px;
  color: white;
  font-size: 14px;
}

@keyframes fadeRight {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes fadeLeft {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message-row {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  animation: fadeLeft 0.5s ease-in-out;
}

.message-row > img {
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 12px;
}
.message__author {
  opacity: 0.8;
  font-size: 14px;
  display: flex;
  margin-bottom: 8px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  padding: 11px;
  border-radius: 15px;
  border-top-left-radius: 0;
  margin-right: 5px;
  font-size: 18px;
  color: black;
}
.message__info-img {
  width: 250px;
  height: 200px;
  margin-right: 5px;
  cursor: pointer;
  border-radius: 10px;
}
.message__time {
  opacity: 0.8;
  font-size: 12px;
}
.message-row-me .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
  color: black;
}
.message-row-me {
  justify-content: flex-end;
  animation: fadeRight 0.5s ease-in-out;
}

.message-row-me .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px 5px 15px;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.reply input {
  transition: all 0.3s ease-in-out;
}
.reply__column:last-child input {
  padding-left: 13px;
  height: 35px;
  border-radius: 25px;
  border: var(--main-border);
  width: 100%;
}

.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply__column:last-child > i {
  opacity: 0.5;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 7px;
  right: 40px;
}
.reply__column:last-child button {
  background-color: var(--yellow);
  border: none;
  border-radius: 50%;
  padding: 5px;
  bottom: 2px;
  right: -14px;
  width: 35px;
  height: 35px;
  color: #000000;
  position: absolute;
}
.reply__column:first-child i {
  color: var(--gray);
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
}
.reply input:focus {
  width: 91vw;
  transform: translateX(-53px) translateY(-80px);
}
.reply:focus-within {
  transform: translateY(80px);
}
