.find-cog__dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  top: -9px;
  right: -7px;
}

.recommended-friends {
  margin: 15px 0px;
  padding: 20px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}
.nextMatch-title {
  color: black;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 10px;
}
.nextMatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  padding: 5px 0;
  color: black;
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
}
.nextMatch-date {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 600;
}
.nextMatch-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nextMatch-section__team:first-child {
  margin-right: 9px;
  font-weight: 600;
}
.nextMatch-section__team:last-child {
  margin-left: 9px;
  font-weight: 600;
}
.nextMatch-section__logo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.nextMatch-section__time {
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0 10px;
  font-weight: 600;
  color: white;
}
.moreview {
  font-size: 15px;
  color: black;
  font-weight: 600;
  cursor: pointer;
}
.nextMatch .open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.6;
  margin-bottom: 12px;
}
.heart__count {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  color: white;
  padding: 8px 8px;
  display: flex;
  align-items: center;
  position: absolute;
  /* absolute looses the sizing if we don't specify 'w' and 'h' */
  bottom: 16px;
  right: 8px;
  font-size: 15px;
}
.heart__count span {
  margin-left: 4px;
}
@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.3);
  }
  100% {
    color: white;
    transform: none;
  }
}
.heart__count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
.table {
  margin-bottom: 80px;
}
.table-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.table-title {
  color: black;
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}
.moreview {
  font-size: 15px;
  color: black;
  font-weight: 600;
  cursor: pointer;
}
.moreview:hover {
  text-decoration: underline;
}
.table-top5 {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
.table-top5 tr:first-child {
  background-color: rgba(0, 0, 0, 0.3);
}
.table-top5 td,
.table-top5 th {
  padding: 8px 0;
}
.table-top5 tr td:nth-child(2) {
  padding-left: 20px;
  padding-bottom: 0;
  display: flex;
  align-items: center;
}
.table-top5 tr th:nth-child(2) {
  padding-right: 100px;
}
td img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.table-top5 tr th:first-child,
.table-top5 tr td:first-child,
.table-top5 tr th:nth-child(2),
.table-top5 tr td:nth-child(2),
.table-top5 tr th:last-child,
.table-top5 tr td:last-child {
  font-weight: 600;
  color: black;
}
