/* Freinds display-bar */
#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 12px 0px;
  margin-bottom: 10px;
  /*margin-top : 96px;*/
  /* position: absolute; /* locate this bar when other bars fixed */
  /* width: 100%; */
  color: #cccccc;
}
#friends-display-link span {
  margin: 0px 7px;
  color: #0e0e0e;
  font-size: 17px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}
.friends-screen__channel {
  margin-bottom: var(--nav-height);
}
/* .friends-screen__teams {
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 0.1);
} */
.friends-screen__channel-header {
  margin-top: 25px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.7);
}

@keyframes hideSplashScreen {
  0% {
    /* background-color: white; */
    opacity: 1;
    transform: translateY(0);
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    /* background-color: var(--yellow); */
    transform: translateY(-100vh);
    opacity: 1;
  }
  75% {
    /* background-color: var(--yellow); */
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes hiddenScreen {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
#splash-screen {
  background-color: var(--puple);
  position: absolute;
  color: white;
  width: 100%;
  height: 100vh;
  z-index: 3;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  animation: hiddenScreen 2s cubic-bezier(0.555, -0.6, 0.89, 0.915) forwards;
  animation-delay: 1s;
}

#splash-screen i {
  animation: hideSplashScreen 2s cubic-bezier(0.555, -0.6, 0.89, 0.915) forwards;
  animation-delay: 1s;
}
