.more-screen .icon-row {
  margin-top: 35px;
}
.pay {
  margin: 30px 0;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 25px 0;
}
.pay-title {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.pay-title i {
  position: absolute;
  left: 35px;
}
.pay-title h4 {
  font-weight: 500;
}
.pay-title span {
  font-weight: 500;
  cursor: pointer;
}
.pay-title span:hover {
  border-bottom: 2px solid black;
}
.pay-content {
  display: flex;
  align-items: center;
}
.pay-content__img {
  width: 50px;
  height: 40px;
  /* border: 1px solid black; */
  /* border-radius: 50%; */
  margin-right: 15px;
}
.pay-content__account {
  margin-right: 20px;
}
.pay-content__account-money {
  margin-top: 7px;
  font-weight: 500;
  display: block;
}
.pay-content__remit,
.pay-content__pay {
  margin-right: 20px;
  border: none;
  font-size: 17px;
  padding: 8px 15px;
  border-radius: 8px;
}
/* .fa-cc-apple-pay {
  border: 3px dashed black;
  padding: 1px;
  border-radius: 5px;
} */
.user-component__text .fa-exclamation-circle {
  color: red;
  position: absolute;
  bottom: -1px;
  left: 113px;
}
.weather {
  margin-bottom: var(--nav-height);
}
.weather-title {
  margin-bottom: 25px;
  position: relative;
}
.weather-title h3 {
  font-weight: 500;
  margin-right: 15px;
}
.weather-title i {
  position: absolute;
  bottom: 1px;
  left: 150px;
}
.weather-content {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.weather-content__main {
  margin-right: 40px;
}
.weather-content__main-temp {
  font-size: 30px;
  letter-spacing: -0.05em;
}
.fa-sun {
  color: yellow;
}
.weather-content__sub {
  margin-right: 30px;
}
.weather-content__sub-time {
  font-size: 13px;
  margin-bottom: 10px;
  letter-spacing: -0.05em;
}
.weather-content__sub-weather-temp {
  margin-left: 6px;
  letter-spacing: -0.05em;
}
.weather-content .fa-crosshairs {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
